/* header styles */

.header {
  background-color: #f3f8ff;
  display: flex;
}

.icon-logo {
  width: 157px;
  height: 54px;
}

.icon-dropdown {
  width: 12px;
  height: 7px;
}

.nav_list {
  display: flex;
}

/* mobile style */

.mobile {
  display: flex;
}

.icon-arrow {
  width: 20px;
  height: 14px;
}

/* Loved style */
/* 
.loved {
  background-color: #ffc247;
}

.stars_block {
  background-color: #ffffff;
} */

.icon-star {
  width: 24px;
  height: 24px;
}

.loved_list {
  display: flex;
}

.featured_list {
  display: flex;
}

.featured_icon {
  width: 130px;
  height: 95px;
}

/* certo styles */

.certo {
  display: flex;
}

/* freedom styles  */

.freedom {
  background-color: #f3f8ff;
}

/* .freedom_block {
  background-color: #ffffff;
} */

/* footer styles */

.footer {
  background-color: #02033b;
}

.social {
  width: 36px;
  height: 36px;
}
