/* header styles */

.header {
  background-color: #f3f8ff;
  display: flex;
}

.nav_list {
  display: flex;
}

.nav_link {
  font-family: Inter;
  font-size: 19px;
  font-weight: 800;
  line-height: 25px;
  text-align: left;
  color: #02033b;
}

.icon-logo {
  width: 157px;
  height: 54px;
}

.icon-dropdown {
  height: 7px;
  width: 12px;
}

.signin_btn {
  font-family: Inter;
  font-size: 15px;
  font-weight: 800;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
  border-radius: 42px;
  background-color: #4335de;
  padding: 16px 20px;
  border: none;
}

/* mobile style */

.mobile {
  display: flex;
}

.mobile_title {
  font-family: inter, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 60px;
  text-align-last: left;
  line-height: 75px;
  letter-spacing: -1, 2px;
  color: #02033b;
}

.mobile_text {
  font-family: inter, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align-last: left;
  line-height: 30px;
  color: #02033b;
}

.mobile_btn {
  font-family: inter, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 19px;
  text-align-last: center;
  line-height: 30px;
  color: #02033b;
  border-radius: 42px;
  padding: 16px 20px;
}

.orange_btn {
  background-color: #ffc247;
  outline: none;
  margin-right: 48px;
}

.icon-arrow {
  width: 20px;
  height: 14px;
  margin-left: 16px;
}

/* Loved style */
.loved {
  background-color: #f7c95f, #fdb235;
}

.loved_title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -0.7px;
  text-align: left;
  color: #02033b;
}

.icon-star {
  height: 24px;
  width: 24px;
}

.loved_list {
  display: flex;
}

.loved_text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #02033b;
}

.loved_sub_text {
  font-family: Inter;
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
  color: #02033b;
}

.loved_featured_title {
  font-family: Inter;
  font-size: 23px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -0.5px;
  text-align: left;
  color: #02033b;
}

.featured_list {
  display: flex;
}

.featured_icon {
  width: 130px;
  height: 95px;
}

.icon-star {
  width: 24px;
  height: 24px;
}

.loved_list {
  display: flex;
}

.featured_list {
  display: flex;
}

.featured_icon {
  width: 130px;
  height: 95px;
}

/* certo styles */

.certo {
  display: flex;
}

.certo_title {
  font-family: inter, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 36px;
  text-align-last: left;
  line-height: 45px;
  letter-spacing: -0, 72px;
  color: #02033b;
}

.certo_text {
  font-family: inter, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align-last: left;
  line-height: 30px;
  color: #02033b;
}

/* freedom styles  */

.freedom {
  background-color: #f3f8ff;
}

/* .freedom_block {
  background-color: #ffffff;
} */

/* footer styles */

.footer {
  background-color: #02033b;
}

.social {
  width: 36px;
  height: 36px;
}
