/* header styles */

.header {
  background-color: #f3f8ff;
  display: flex;
}

.icon-logo {
  width: 157px;
  height: 54px;
}

.icon-dropdown {
  width: 12px;
  height: 7px;
}

.nav_list {
  display: flex;
}
